{% extends 'base.html.twig' %}

{% block title %}Hello ACController!{% endblock %}

{% block body %}

<table class="table  table-striped  mt-5">
    <tr class="bg-primary">
        <th>Nom complet</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    {% for ac in acs %}
        <tr>
            <td>{{ac.nomComplet}}</td>
            <td>{{ac.login}}</td>
            <td>{{ac.password}}</td>
        </tr>
    {% endfor %}
</table>
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(acs) }}
</div>
{% endblock %}