{% extends 'base.html.twig' %}

{% block title %}Hello RPController!{% endblock %}

{% block body %}

<table class="table  table-striped  mt-5">
    <tr class="bg-primary">
        <th>Nom complet</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    {% for rp in rps %}
        <tr>
            <td>{{rp.nomComplet}}</td>
            <td>{{rp.login}}</td>
            <td>{{rp.password}}</td>
        </tr>
    {% endfor %}
</table>
<div class="navigation">
    {{ knp_pagination_render(rps) }}
</div>
{% endblock %}